.background {
  width: 35%;
  border-right: solid 0.5vh var(--color-1);
  background: var(--background);
}

.logo {
  height: 15vh;
  width: 15vh;
  margin-top: 5vh;
}

.title {
  margin-top: 2.5vh;
}

.login-form {
  margin-top: 3vh;
}

.login-submit {
  width: 65%;
  padding: 1vh;
  border-radius: 2vh;
}

.link {
  margin-top: 4vh;
  color: var(--text-color-2);
}
