* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.home-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.home-page {
  flex-grow: 1;
}

.home-navbar-container {
  position: absolute;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
}

.home-navbar-collapse {
  height: 100%;
  width: 24rem;
  background: var(--background);
  max-width: 0;
  overflow-x: hidden;
  transition: max-width 0.2s ease-out;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-navbar-collapse-button-container {
  display: flex;
  flex-direction: column;
}

.home-nabvar-collapse-border-top {
  height: 9.5rem;
  border-left: solid 3px var(--color-1);
  background: rgba(0, 0, 0, 0);
}

.home-navbar-collapse-button {
  cursor: pointer;
  height: 5rem;
  width: 2rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-left: none;
  border-top: solid 3px var(--color-1);
  border-right: solid 3px var(--color-1);
  border-bottom: solid 3px var(--color-1);
  background: var(--background);
  font-size: 1.25rem;
  font-weight: bolder;
  color: var(--color-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-nabvar-collapse-border-bottom {
  flex-grow: 1;
  border-left: solid 3px var(--color-1);
  background: rgba(0, 0, 0, 0);
}

.home-navbar-settings-container {
  cursor: pointer;
  position: relative;
  right: 9.25rem;
  bottom: 30.75rem;
  height: 4.5rem;
  width: 4.5rem;
  background: linear-gradient(
    to right,
    var(--gradient-custom-1),
    var(--gradient-custom-2),
    var(--gradient-custom-3),
    var(--gradient-custom-4)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.home-navbar-settings-container:hover {
  box-shadow: 0px 4px 20px var(--shadow-color-1);
}

.home-navbar-profile-container {
  cursor: pointer;
  height: 9.5rem;
  width: 9.5rem;
  border-radius: 4.75rem;
  margin-top: 2.5rem;
  margin-bottom: 3.25rem;
  background: linear-gradient(
    to right,
    var(--gradient-custom-1),
    var(--gradient-custom-2),
    var(--gradient-custom-3),
    var(--gradient-custom-4)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.home-navbar-profile-container:hover {
  box-shadow: 0px 4px 20px var(--shadow-color-1);
}

.home-navbar-button-container {
  margin-top: 1.5rem;
}

.home-navbar-button {
  cursor: pointer;
  height: 2.5rem;
  width: 19rem;
  background: linear-gradient(
    to right,
    var(--gradient-custom-1),
    var(--gradient-custom-2),
    var(--gradient-custom-3),
    var(--gradient-custom-4)
  );
  border: none;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: bolder;
  color: var(--color-2);
  transition: all 0.5s;
}

.home-navbar-button:hover {
  box-shadow: 0px 4px 16px var(--shadow-color-1);
}

.home-navbar-disconnect-button-container {
  margin-top: 3.25rem;
}

.home-navabr-diaconnect-button {
  cursor: pointer;
  height: 2.5rem;
  width: 13rem;
  background: var(--background);
  border: solid 3px var(--color-5);
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: bolder;
  color: var(--color-5);
  transition: all 0.5s;
}

.home-navabr-diaconnect-button:hover {
  background: var(--color-5);
  color: var(--color-2);
  border: solid 2px var(--color-2);
  box-shadow: 0px 4px 16px var(--shadow-color-1);
}
