.profile-container {
  width: 30%;
  border-right: solid 0.4vh var(--color-2);
  background: var(--background);
}

.profile-picture-container {
  height: 25vh;
  width: 25vh;
  margin-top: 5vh;
  border: solid 0.4vh var(--color-2);
  border-radius: 12.5vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-picture-edit {
  border-radius: 50%;
  color: transparent;
  transition: color 0.3s ease-in-out;
}

.profile-picture-edit:hover {
  color: var(--text-color-3);
}

.profile-username {
  margin-top: 5vh;
  color: var(--text-color-2);
}

.profile-title {
  margin-top: 3vh;
  color: var(--text-color-2);
}

.last-project-container {
  height: 16.875vw;
  width: 75%;
  margin-top: 5vh;
  border-radius: 4vh;
}

.last-project {
  height: calc(100% - 0.6vh);
  width: calc(100% - 0.6vh);
  border-radius: 4vh;
  background: var(--background);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}

.stats-container {
  width: 30%;
  border-left: solid 0.4vh var(--color-2);
  background: var(--background);
}

.profile-stats-title {
  margin-top: 5vh;
  color: var(--text-color-2);
}

.profile-stats-form {
  margin-top: 4vh;
  display: flex;
  justify-content: space-evenly;
}

.profile-stats-form-label {
  margin-bottom: 1vh;
  color: var(--text-color-2);
}

.profile-ststs-chart-container {
  height: 70vh;
  width: 85%;
  margin-top: 6vh;
  border-radius: 6vh;
}

.profile-ststs-chart {
  height: calc(100% - 0.6vh);
  width: calc(100% - 0.6vh);
  overflow: hidden;
  border-radius: 6vh;
  background: var(--background);
}

.profile-chart-value {
  padding: 1vh;
  margin: 2vh;
  border-radius: 2vh;
  color: var(--text-color-2);
}

.profile-chart {
  height: 253px;
  width: 506px;
}

.chart-title {
  color: var(--text-color-2);
}
