:root {
  --background: #666;
  --color-1: white;
  --color-2: #ffe;
  --color-3: #3b71ca;
  --color-4: #fd8;
  --text-color-1: black;
  --text-color-2: white;
  --shadow-color-1: #444;
  --gradient-custom-1: #ee7724;
  --gradient-custom-2: #d8363a;
  --gradient-custom-3: #dd3675;
  --gradient-custom-4: #b44593;
  --error-color-1: #a33;
}
