.myProjects-form-container {
  width: 30vw;
  border-right: solid 0.4vh var(--color-2);
  background: var(--background);
}

.myProjects-form {
  border-bottom: solid 0.4vh var(--color-2);
}

.myProjects-form-title {
  margin-top: 4vh;
  color: var(--text-color-2);
}

.myProjects-form-input {
  margin: 2vh;
}

.myProjects-form-label {
  margin-bottom: 1vh;
  color: var(--text-color-2);
}

.myProjects-new-button {
  padding: 1vh;
  margin-top: 4vh;
  border-radius: 2vh;
  color: var(--text-color-2);
}

.myprojects-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

.project {
  height: 288px;
  width: 384px;
  padding: 1vh;
  margin: 3%;
  border-radius: 3vh;
  color: var(--text-color-1);
  background: var(--background);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}
